In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
print(train.columns)
print(test.columns)

In [ ]:
train.info()
train.describe()
sns.pairplot(train)

In [ ]:
sns.heatmap(train.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
sns.heatmap(test.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [3]:
def sost_nan(age,classe,train):
    if pd.isna(age):
        if classe == 1:
            age = (train.loc[train['Pclass']==1].groupby( ['Pclass'])['Age'].mean())[1]
        if classe == 2:
            age = (train.loc[train['Pclass']==2].groupby( ['Pclass'])['Age'].mean())[2]
        if classe == 3:
            age = (train.loc[train['Pclass']==3].groupby( ['Pclass'])['Age'].mean())[3]
    return age
        
        
train['Age'] = train.apply(lambda row: sost_nan(row['Age'],row['Pclass'],train), axis=1)

In [4]:
def sost_nan(age,classe,test):
    if pd.isna(age):
        if classe == 1:
            age = (test.loc[test['Pclass']==1].groupby( ['Pclass'])['Age'].mean())[1]
        if classe == 2:
            age = (test.loc[test['Pclass']==2].groupby( ['Pclass'])['Age'].mean())[2]
        if classe == 3:
            age = (test.loc[test['Pclass']==3].groupby( ['Pclass'])['Age'].mean())[3]
    return age
        
        
test['Age'] = test.apply(lambda row: sost_nan(row['Age'],row['Pclass'],train), axis=1)

In [5]:
train.loc[(train['Embarked']).isnull()]
train.drop([61, 829], inplace = True)

In [ ]:
print(test.loc[(test['Pclass']==3) & (test['Age'] > 40)& (test['Age'] < 60)].groupby( ['Pclass'])['Fare'].mean())
test.loc[(test['Fare']).isnull(), 'Fare'] = 10.525586

In [7]:
train = pd.get_dummies(train, columns=['Pclass','Sex','Embarked'])
print(train.columns)
train.drop(['PassengerId','Name','Ticket','Cabin','Pclass_3','Sex_male','Embarked_S'], axis = 1, inplace = True)
print(train.columns)

Index(['PassengerId', 'Survived', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')
Index(['Survived', 'Age', 'SibSp', 'Parch', 'Fare', 'Pclass_1', 'Pclass_2',
       'Sex_female', 'Embarked_C', 'Embarked_Q'],
      dtype='object')

In [8]:
test = pd.get_dummies(test, columns=['Pclass','Sex','Embarked'])
print(test.columns)
test.drop(['Name','Ticket','Cabin','Pclass_3','Sex_male','Embarked_S'], axis = 1, inplace = True)
print(test.columns)

Index(['PassengerId', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')
Index(['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare', 'Pclass_1', 'Pclass_2',
       'Sex_female', 'Embarked_C', 'Embarked_Q'],
      dtype='object')

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
x_train = train.drop('Survived',axis=1)

In [11]:
y_train = train['Survived']

In [12]:
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

C:\Users\SP262LB\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
predictions = pd.DataFrame(logmodel.predict(test.drop('PassengerId',axis=1)), index = test['PassengerId'] )
predictions.columns = ['Survived']
predictions

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [19]:
predictions = predictions[['PassengerId','Survived']]
predictions

             PassengerId  Survived
PassengerId
892                  892         0
893                  893         0
894                  894         0
895                  895         0
896                  896         1
...                  ...       ...
1305                1305         0
1306                1306         1
1307                1307         0
1308                1308         0
1309                1309         0

[418 rows x 2 columns]

In [20]:
predictions.to_csv('./predictions.csv', index=False, header=True)

data = {'Classe' :[1,2,1],'Eta' :[10,20,10], 'Prezzo' :[1,2,3]}

In [ ]:
df = pd.DataFrame(data)
df

###